
.header{
    
    background: rgba(12, 40, 110, 0.76);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 13px;
    padding-top: 20px;
    color: white;
    
    
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 14px;
    
}

.card{
    box-shadow:  5px 5px 5px 0px  #e0e0e0c4;  
    margin-left: 30px;
    margin-right: 30px; 
    width: auto;
    margin-top: -10px;
    background: white;
    border-style: solid;
    padding-top: 10px;
   
}

.titulo{
    margin-top: 40px;
    color: rgb(110, 108, 108);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 36px;
    margin-left: 30px;
    
}

.iconoConductor2{
    margin: -50px 10px 25px 30px;
}

.iconoConductor{
    margin-top: -150px;
    color: rgb(110, 108, 108);
    font-style: normal;
    font-size: 50px;
    margin-left: 400px;
}

.table-responsive{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.fila{
    
    font-size: 14px;
    color: rgb(104, 101, 101);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
}

.boton{
    margin: 10px auto 10px auto;
}

.botonEditar{
    color: rgb(30, 165, 102);
}



.mat-raised-button{
    margin-top: 10px;
    background: rgb(18, 150, 88);
    color: white;
    
    
}

.nuevoconductor:hover{
    background: rgba(86, 177, 106, 0.781);
}

.img-thumbnail {
    width: 70px;
    height:90px;
    
}

.mat-dialog-container {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}